@model IEnumerable<LibraryMVC.Models.Lend>

@{
    ViewBag.Title = "ReturnBook";
}

<h2>ReturnBook</h2>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBorrowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReturn)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBorrowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReturn)
                </td>
                <td>
                    @Html.Hidden("id", item.Book.Id)
                    <input type="submit" value="Return book" class="btn btn-default" />
                </td>
            </tr>
        }

    </table>
}

