@model IEnumerable<LibraryMVC.Models.Book>

@{
    ViewBag.Title = "SearchByTag";
}

<h2>SearchByTag</h2><br />

@using (Html.BeginForm())
{
    @Html.DropDownList("BookTags", (IEnumerable<SelectListItem>)ViewBag.Tags, "Select Tag", new { @class = "form-control" })
    <br />
    <input style="display:inline" type="submit" value="Search" class="btn btn-default" />
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @if (item.Available == false)
            {
                <p style="display:inline">  @Html.ActionLink("Add to queue", "AddToQueue", "Book", new { id = item.Id }, null) </p>
            }
            else
            {
                <p style="display:inline">  @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = item.Id }, null) </p>

            }
        </td>

    </tr>
}

</table>
