@model IEnumerable<LibraryMVC.Models.BookTag>

@{
    ViewBag.Title = "Index";
}

<h2>Book Tags</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
