<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<style>
    @RenderSection("styles", false)
    </style>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Books
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("All Books", "Index", "BookManage")</li>
                                    <li>@Html.ActionLink("Search by category", "SearchCategory", "Book")</li>
                                    <li>@Html.ActionLink("Seach by tag", "SearchByTag", "Book")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                            <li>@Html.ActionLink("BookTags", "Index", "BookTag")</li>
                            <li>@Html.ActionLink("Create News", "Index", "New")</li>
                            @*<li>@Html.ActionLink("Lends", "Index", "Lend")</li>*@

                        }
                        if (User.IsInRole("Employee"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Books
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("All Books", "Index", "BookManage")</li>
                                    <li>@Html.ActionLink("Search by category", "SearchCategory", "Book")</li>
                                    <li>@Html.ActionLink("Seach by tag", "SearchByTag", "Book")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Readers", "Index", "Reader")</li>
                            <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                            <li>@Html.ActionLink("BookTags", "Index", "BookTag")</li>
                            <li>@Html.ActionLink("Lends", "Index", "Lend")</li>

                        }
                        if (User.IsInRole("Reader"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Books
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("All Books", "Index", "Book")</li>
                                    <li>@Html.ActionLink("Search by category", "SearchCategory", "Book")</li>
                                    <li>@Html.ActionLink("Seach by tag", "SearchByTag", "Book")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Your Cart", "ShowCart", "Cart")</li>
                            <li>@Html.ActionLink("Your Queues", "Queue", "Book")</li>
                            <li>@Html.ActionLink("To Lend", "BookWaitingOnUser", "Book")</li>
                            <li>@Html.ActionLink("Return book", "ReturnBook", "Book")</li>

                            @*<li>@Html.ActionLink("Lends", "Index", "Lend")</li>*@

                        }

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Library. Created by Michał Gil & Kamil Oleksy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
