@model LibraryMVC.Models.Cart

@{
    ViewBag.Title = "ShowCart";
}

<h2>Your Cart</h2>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.ActionLink("Delete from cart", "DeleteFromCart", "Cart", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        @Html.ActionLink("Clear Cart", "ClearCart", "Cart", null, new { @class = "btn btn-success" }) | 
        @Html.ActionLink("Lend Books", "LendBooks", "Cart", null, new { @class = "btn btn-success" })
    </p>
    
}







