@model IEnumerable<LibraryMVC.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Filters", "Book", FormMethod.Post))
{
    <div class="form-group">
        <label style="display:inline" for="title">Tytuł: </label>
        <input style="display:inline" type="text" name="title" class="form-control" id="title">
        <label style="display:inline" for="author"> Autor: </label>
        <input style="display:inline" type="text" name="author" class="form-control" id="author">
        <label style="display:inline" for="isbn"> ISBN: </label>
        <input style="display:inline" type="text" name="isbn" class="form-control" id="isbn">
        <input style="display:inline" type="submit" value="Szukaj" class="btn btn-default" />
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Add tag", "BookTag", new { id = item.Id }) |
                </td>
            </tr>
        }

    </table>
}